*{
  font-family: Helvetica, Arial, sans-serif;
}

body{
  padding: 60px /* Tamaño del cuerpo de la pagina */
}

input{ /* Donde pongo lo que busco */
  color: gray; /* Color del texto */
  font-size: 1.2rem; /* Tamaño de la fuente */
  display: block; /* Para moverlo en medio */
  margin-right: auto; /* Para centrar la caja */
  margin-left: auto; /* Para centrar la caja */
}

.card-gris{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card{
  align-content: center;
  border: 1px solid blue;
  border-radius: 6px;
  margin-bottom: 10px;
  margin-right: 10px;
  overflow: hidden;
}

.card p{
  padding: 5px;
  text-align: center;
}

.card img{
  min-height: 170px;
}

#GEA-h2{ /* Id en GifExpertAPP */
  text-align: center;
  font-size: x-large;
}